h1,h2,h3 { /* fuente de los títulos */
    font-family: 'Akshar', sans-serif;
}

* { /* fuente por defecto de todo el texto */
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    color: black;
}

/* ------- body ---- */

/* ---- títulos ---- */
h2 {
    font-size: 1.5em;
    color: gray; 
}

/* -- contenido ---- */
figure > img {
    width: 100%;
    height: 100%;
}

figure {
    position: float;
    float: right;
    width: 10%;
    height: inherit;
}

div {
    display: block;
    width: 100%;
}

.sepDiv {
    visibility: hidden;
}

hr {
    clear: both;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

figcaption {
    text-align: center;
    border-style: solid;
    border-width: 0.1em;
    border-top-style: none;

    /* <- inútil
    border-top-width: 0px;
    padding-top: 0px;*/
}

/* ----- footer ---- */

footer {
    padding: 2.5%;
    margin-top: 1%;
    background-color: lightgray;
    text-align: center;
    color: black;
    border: gray solid 0.1em;
    display: block;
    clear: both;
}

#mail {
    background-color: inherit;
    color: blue;
}
